.login-form{
    background-image: url('/assets/login-bg.jpg');
    
    padding: 180px 0px;
    margin: 150px auto;

    .card{
        border-color: rgb(26 92 161 / 13%) !important;
    }
    .alert {
        padding: 5px 16px;
    }
}